<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/_layout.html}">
<head>
<meta charset="UTF-8">
<title>List Mahasiswa</title>
<link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		   <!-- logoout Alert-->
	   <div th:if="${param.addedtocart}">
		   <div class="alert alert-info">Item has been successfully added to cart.</div>  
	   </div>
		<div class="row">
		<table style="width: 100;">
			<tr th:each="product : ${listProduct}">
				   <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a href="javascript:void(0)"><img th:src="@{'/img/'+${product.mainImage}}" class="card-img-top rounded-0" alt="..."></a>
                <a th:href="@{'user/addToCart/' + ${product.id}}" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-basket fs-4"></i></a>                      </div>
              <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4" th:text="${product.productName}"></h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="fw-semibold fs-4 mb-0" th:text="'Rp. '+${product.price}">
                </div>
              </div>
            </div>
          </div>
			</tr>
		</table>
	</div>
	</div>
</body>
</html>