<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>
<body>
      <div class="container-fluid">
		  	<div class="row justify-content-center my-5">
				  <div class="col-6">
			<div class="card">
				<div class="card-body">
					<a th:href="@{/user/profile}" class="btn btn-light"><i class="ti ti-arrow-left"></i></a>
					 <form th:action="@{/user/updatePassword}" th:object="${user}" method="post" >
							<label for="exampleInputEmail1" class="form-label">Password</label>
							<input type="password" class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" th:field="*{password}" >
								<div class="d-flex justify-content-center pt-4">
						<button type="submit" class="btn btn-success mx-2">Update</button>
						</div>
						</div>
						</div>
						
					</form>
				</div>
			</div>
			</div>
		</div>
      </div>
</body>
</html>