<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Mahasiswa</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
      <div class="form" style="opacity:80%">
		   <form th:action="@{/product/updateProduct}" th:object="${product}" method="post" enctype="multipart/form-data" >
      <a th:href="@{/list}" class="back-btn">Kembali</a>
      <center>
           <div class="title">Data Mahasiswa</div> 
      </center>
              <input type="text" th:field="*{id}" class="input" th:value="${product.id}" style="background-color:white" hidden  />
       <div class="input-container ic1">
      <input type="text" th:field="*{productName}"  class="input" th:value="${product.productName}" style="background-color:white"  />
        <div class="cut"></div>
        <label for="name" class="placeholder">Product Nama</label>
        </div>
            <div class="input-container ic1">
      <input type="text" th:field="*{price}" class="input" th:value="${product.price}" style="background-color:white"  />
        <div class="cut"></div>
        <label for="name" class="placeholder">Price</label>
        </div>
            <div class="input-container ic1">
      <input type="text" th:field="*{description}" class="input" th:value="${product.description}" style="background-color:white"  />
        <div class="cut"></div>
        <label for="name" class="placeholder">Description</label>
        </div>
        <img th:src="@{@{'/img/'+${product.img}}}" height="20px">
          <div class="input-container ic1">
       <input type="file" name="img" class="form-control">
        <div class="cut"></div>
        <label for="name" class="placeholder">Email</label>
        </div>
          <button type="text" class="submit" style="width: 50%;margin-left: 6.5rem;">Update</button>
        </div>
		   </form>
    </div>
</body>
</html>